body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}

#wheelCanvas {
    margin-bottom: 20px;
}

.spin-button {
    padding: 10px 20px;
    font-size: 18px;
}

.result-message {
    margin-top: 20px;
    font-size: 18px;
}
